<!--The content below is only a placeholder and can be replaced.-->
<!-- <h1>File Upload</h1>
<input type="file"(change)="onFileSelected($event)">
<button type="button" (click)="onUpload()">Upload</button>

<router-outlet></router-outlet> -->
<!-- 
<div>
    <img src ='/assets/images/sec12.jpg'>
</div>
<div class="container">
    <form>
        <div class="form-group">
            <input type="file" id="selectedFile" name="selectFile"/>
            <input type="button" (click)="uploadImages()"value="upload images">
        </div>

    </form>
</div> -->

<app-upload-images></app-upload-images>